<div>
  <h1>TravelBucket</h1>
  <% if current_user %>
    <p>Welcome back <strong><%= current_user.name %>!</strong></p>
  <% else %>
    <div container-hero">
      <%= image_tag("hero-img-min.jpg", class: 'img-fluid', alt: "Travel About Image 1") %>
      <div class="centered">
        <p>TravelBucket is the resource for sharing travel, leisure and globetrotting links with your friends!</p>
        <%= link_to "Sign In", new_session_path %> or
        <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-4 bg-dark text-white">
    <h2>Trending Topics</h2>
    <%= render partial: 'topics/topic', locals: { topic: @topic } %>
  </div>
  <div class="col-md-4">
    <% if current_user %>
      <h2>Recent Posts</h2>
      <%= render current_user.posts %>
    <% else %>
      <h2>Top Posts</h2>
    <% end %>
    <p>TravelBucket will deliver money and education to those in need, all over the world.</p>
  </div>
  <div class="col-md-4 bg-dark text-white">
    <h2>Recent Activity</h2>
    <p>TravelBucket will make you better looking: it's scientifically proven to make men look like Ryan Gosling and women look like Shakira.</p>
  </div>
</div>
