<!DOCTYPE html>
<html>
  <head>
    <title>TravelBucket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar p-0 navbar-expand-xl bg-light">
        <%= link_to "TravelBucket", root_path, :class => "navbar-brand text-dark font-weight-bold ml-3" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto">
            <li class="nav-item"><%= link_to "Topics", topics_path, :class => "nav-link pr-5" %></li>
            <li class="nav-item"><%= link_to "About", about_path, :class => "nav-link pr-5" %></li>
          </ul>
            <ul class="list-unstyled">
            <% if current_user %>
              <li class="nav-item"><%= image_tag current_user.avatar_url(48), :class => "gravatar" %></li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.name %></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to "Sign Out", session_path(current_user), method: :delete, :class => "dropdown-item" %>
                  <%= link_to "Profile", user_path(current_user), :class => "dropdown-item" %>
                </div>
              </li>
            <% else %>
              <li class="nav-item"><%= link_to "Sign In", new_session_path, :class => "nav-link" %></li>
              <li class="nav-item"><%= link_to "Sign Up", new_user_path, :class => "nav-link" %></li>
            <% end %>
            </ul>
          </div>
      </nav>

      <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>

      <%= yield %>

  </body>
</html>
